:root {
  --primary-grey-color: #EEEFF1;
  --secondary-blue-color: #34547A;

}

.text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.25px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #727272;
}

.container {
  max-width: 1150px;
  margin-inline: auto;
  padding-inline: auto;
}

@media screen and (min-width: 375px) {

  body {
    padding: 10px;
    min-width: 375px;
    height: 100vh;
  }

  .header {
    background-color: var(--primary-grey-color);
    padding: 20px;
  }

  .header-nav {

    margin-bottom: 30px;
  }

  .header-list-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    gap: 20px;
  }

  .header-link-item {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 26.25px;
    letter-spacing: 0.1em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }


  .header-gen-text {
    font-family: Roboto;
    font-size: 38px;
    font-weight: 500;
    line-height: 78.75px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 20px;
  }



  .header-about {
    margin-bottom: 30px;
  }

  .header-button {
    padding: 19px 41px 20px 41px;
    color: white;
    background-color: var(--secondary-blue-color);
    border: 0;
    margin-bottom: 50px;
    letter-spacing: 0.1em;
    display: flex;
    justify-self: center;
  }


  main {
    padding: 20px;
  }

  .main-title {
    font-family: Roboto;
    font-size: 32px;
    line-height: 37.5px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .main-text {
    padding-bottom: 20px;
  }

  .pj-container {
    background-color: var(--secondary-blue-color);
    width: 100%;
  }

  .secondary-pj-container {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 20px;
  }

  .projects-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
  }

  .projects-item {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 500;
    line-height: 24.61px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    background: left no-repeat url(images/project.png);
    padding-left: 70px;
  }

  .pj-item-text {
    text-align: left;
    color: white;
    vertical-align: text-bottom;
  }

  .main-title-container {
    background-color: var(--primary-grey-color);
    padding: 20px;
  }

  .my-work-text {
    margin-bottom: 20px;
  }

  .video {
    min-width: 335px;
    min-height: 246px;
  }


  .footer {


    color: white;
    padding: 20px;
  }

  .footer-container {
    padding-top: 0;
    background-color: var(--secondary-blue-color);
    padding-left: 20px;
  }

  .footer-title {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 500;
    line-height: 24.61px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 30px;
  }

  .footer-text {
    padding-bottom: 30px;
    color: white;
  }

}




@media screen and (min-width: 1150px) {
  body {
    min-width: 1150px;
  }



  .header-nav {
    margin-top: 79px;
    margin-bottom: 162px;
  }

  .header-nav>.header-list-menu {

    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    flex-wrap: wrap;
  }


  .header-link-item {
    text-decoration: none;
    color: black;
  }

  .header-link-item:hover {
    color: #34547A;
  }


  .header-about {
    text-align: left;
    max-width: 540px;
    margin-bottom: 65px;
  }

  .main {
    padding-bottom: 0;
  }

  .main-title-container {
    padding-top: 0;
  }

  .main-title {

    padding-top: 100px;
    margin-bottom: 50px;
    margin-top: 0;
  }

  .main-text,
  .my-work-text {
    text-align: center;
    width: 540px;
    margin-inline: auto;
    margin-bottom: 57px;
  }

  .pj-container {
    background-color: var(--secondary-blue-color);
    width: 100%;
  }

  .secondary-pj-container {
    margin-top: 0;
    padding-top: 0;
  }

  .projects-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-wrap: wrap;
    row-gap: 40px;
  }

  .projects-item {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 500;
    line-height: 24.61px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    background: left no-repeat url(images/project.png);
    padding-left: 70px;
  }

  .pj-item-text {
    text-align: left;
    color: white;
    vertical-align: text-bottom;
  }

  .main-title-container>.video {
    display: block;
    margin-inline: auto;
    margin-bottom: 100px;
    width: 1110px;
    height: 816px;
  }



  .footer {
    padding-top: 0;
  }

  .footer-title {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 500;
    line-height: 24.61px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 50px;
    margin-bottom: 20px;
  }

  .footer-text {
    padding-bottom: 50px;
    color: white;
  }
}